/* 프로필 카드 */
.about_card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #d8e6fb;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    padding: 35px;
    gap: 50px;
    width: 60%;
    background-color: #fff;
}

/* 카드 안 이미지 */
.about_avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* 카드 안 텍스트 */
.basic_info li {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #333;
}

.basic_info a.info_link {
    color: #333;
    text-decoration: none;
}

.basic_info a.info_link:hover {
    color: #abc8f3;
}


/* 폰트어썸 아이콘 */
.fa-about-icon {
    text-align: center;
    font-size: 20px;
    width: 25px;
}

/* 반응형 */
/* Tablet (≤1024px) */
@media (max-width: 1024px) {
    .about_card {
        width: 70%;
        padding: 30px;
        gap: 35px;
    }

    .about_avatar img {
        width: 170px;
        height: 170px;
    }

    .basic_info li {
        font-size: 18px;
        gap: 15px;
    }
}

/*  Mobile (≤768px) */
@media (max-width: 768px) {
    .about_card {
        flex-direction: column;   /* 가로 → 세로 */
        width: 70%;
        padding: 25px;
        gap: 25px;
        text-align: center;
        margin-top: 100px;
    }

    .about_avatar img {
        width: 140px;
        height: 140px;
    }

    .basic_info li {
        justify-content: flex-start;
        font-size: 16px;
        gap: 10px;
    }

    .fa-solid {
        width: 20px;
        font-size: 18px;
    }
}
