/* 프로필 카드 */
.about_card {
    padding: 50px 50px;
    max-width: 1000px;
    margin: 60px auto;
}

.info_row {
    padding: 25px 26px;
}

.top_row {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.bottom_row {
    display: flex;
    justify-content: center;
    gap: 61px;
}

.info_item {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.info_link {
    color: #333;
    text-decoration: none;
}

.info_link:hover {
    color: #5285db;
    text-decoration: underline;
    text-underline-offset: 5px;
}


/* 폰트어썸 아이콘 */
.fa-about-icon {
    text-align: center;
    font-size: 20px;
    width: 25px;
}

/* fade 애니메이션 */
/* About 섹션 기본 숨겨진 상태 */
.fade-about {
    opacity: 0;
    transform: translateY(40px);
    transition: 
        opacity 0.9s ease-out,
        transform 0.9s ease-out;
}

/* 화면에 등장할 때 */
.fade-about.show {
    opacity: 1;
    transform: translateY(0);
}

/* 반응형 */
/* Tablet (≤1024px) */
@media (max-width: 1024px) {
    .about_card {
        padding: 40px 35px;
        max-width: 85%;
    }

    .top_row,
    .bottom_row {
        gap: 50px;
    }

    .info_item {
        font-size: 18px;
        gap: 6px;
    }

    .fa-about-icon {
        font-size: 18px;
        width: 22px;
    }
}

/*  Mobile (≤768px) */
@media (max-width: 768px) {
    .about_card {
        padding: 25px 20px;
        max-width: 90%;
    }

    /* 줄 자체를 세로로 정렬 */
    .top_row,
    .bottom_row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 9px;
    }

    .info_item {
        font-size: 17px;
        gap: 6px;
    }

    .fa-about-icon {
        width: 20px;
        font-size: 17px;
    }
}
